<main id="main" class="main">
  <div class="row mb-2">
    <div class="col-12">
      <div class="pagetitle float-start">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card card-body">
        <mat-list>
          <div mat-subheader>Folders</div>
          <mat-list-item>
            <mat-icon matListItemIcon>folder</mat-icon>
            <div matListItemTitle></div>
            <div matListItemLine></div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div mat-subheader>Notes</div>
          <mat-list-item>
            <mat-icon matListItemIcon>note</mat-icon>
            <div matListItemTitle></div>
            <div matListItemLine></div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</main>