<div class="dialog-title">
  {{ title }}
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
  <form [formGroup]="formData">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="m['password'].errors && m['password'].errors['required']">Wajib diisi.</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Konfirmasi Password</mat-label>
      <input matInput formControlName="konfirmasi" [type]="hide1 ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1">
        <mat-icon>{{ hide1 ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="m['konfirmasi'].errors && m['konfirmasi'].errors['required']">Wajib diisi.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <div class="col-12 align-right">
    <button mat-raised-button color="warn" mat-dialog-close [disabled]="submitted">
      <i class="fa fa-times"></i> BATAL
    </button>
    <button mat-raised-button color="primary" [disabled]="formData.invalid || submitted" (click)="onSubmit()">
      <i class="fa fa-save"></i> SIMPAN
    </button>
  </div>
</mat-dialog-actions>