<div class="dialog-title">
  EDIT {{ data.sarpras | uppercase }}
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
  <form [formGroup]="formData" id="formData" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Semester Ganjil</mat-label>
          <input type="number" step="any" matInput formControlName="ganjil">
          <mat-error *ngIf="m['ganjil'].errors && m['ganjil'].errors['required']">Wajib diisi.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-sm-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Semester Genap</mat-label>
          <input type="number" step="any" matInput formControlName="genap">
          <mat-error *ngIf="m['genap'].errors && m['genap'].errors['required']">Wajib diisi.</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <div class="col-12 align-right">
    <button mat-raised-button color="warn" mat-dialog-close [disabled]="submitted">
      <i class="fa fa-times"></i> BATAL
    </button>
    <button type="submit" form="formData" mat-raised-button color="primary" [disabled]="formData.invalid || submitted">
      <i class="fa fa-save"></i> SIMPAN
    </button>    
  </div>
</mat-dialog-actions>