<main id="main" class="main">
  <div class="row mb-2">
    <div class="col-12">
      <div class="pagetitle float-start">
        <h1>{{ title }}</h1>
      </div>
      <button mat-mini-fab class="float-end" color="primary" (click)="getDetil({})" matTooltip="Tambah Data">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <mat-form-field style="width: 100%;" appearance="outline">
    <mat-label>Cari data...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Masukkan kata kunci pencarian" #input>
  </mat-form-field>

  <div class="row bodi">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row" class="min">
                <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="getDetil(row)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit Data</span>
                  </button>
                  <button mat-menu-item (click)="hapusData(row.id, row.pekerjaan)">
                    <mat-icon>delete</mat-icon>
                    <span>Hapus Data</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="pekerjaan">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> JENIS PEKERJAAN </th>
              <td mat-cell *matCellDef="let row" class="datacell"> {{ row.pekerjaan | uppercase }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</main>